@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html,body {
	height: 100%;
}

body.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
}

.title{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: .7rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.my-login-page .card-wrapper {
	width: 450px;
}

.my-login-page .card {
	border-color: 1px solid gray;
	box-shadow: 0 14px 15px rgba(0,0,0,0.8);
    background-color:rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
    text-align: center;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
    background-color: #7E6DF7;
}

.my-login-page #btnRADMafia {
    margin-top: 15px;
	padding: 12px 10px;
    background-color:transparent;
    border: 1px solid black;
}


.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}