@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html,body {
	height: 100%;
    background-color: #f7f9fb;
	font-size: 14px;
}

#nav{
    background-color: #7E6DF7;
}


#navTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-left: 4rem;   
}

#logout{
    margin-right: 4rem; 
}

#accName{
    margin-left: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: grey;
}

.container{
    display:flex;
    width: 78rem;
    height: 35rem;
    border: 1px solid gray;
    box-shadow: 0 14px 15px rgba(0,0,0,0.8);
    background-color:rgba(0,0,0,.05);
}

#editTag{
    padding: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.btn.btn-block {
	padding: 12px 10px;
    background-color: #7E6DF7;
    border-radius: 20px;
    margin-top: 1rem;
}

.reqBountyForm{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin-left: 10.5rem;
}

.mainForm{
    display:flex;
    justify-content:space-around;
    border: 1px solid black;
}

.footer {
	margin: 30px 0;
	color: #888;
	text-align: center;
}